@model Phone
@ViewData["Brands"]
@ViewData["CameraFeatures"]
@ViewData["PhoneFeatures"]

<form asp-action="AddPhone" method="post" role="form">

	<h3 class="addNewPhoneHeader py-2">
		Please enter new phone information
	</h3>

	<div asp-validation-summary="All" class="text-danger"></div>

	<div class="col-6">
		<div class="row g-2">
			<label asp-for="Brand" class="form-label">Brand</label>
			<select asp-for="Brand" class="form-select col-12">
				<option selected>Choose Brand</option>
				@foreach (Brand brand in ViewData["Brands"] as List<Brand>)
                {
                    <option value="@brand.Id">@brand.BrandName</option>
                }
			</select>
			<div class="col-12">
				<label asp-for="Model" asp-for="Model" class="form-label">Model</label>
				<input asp-for="Model" asp-for="Model" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Length" asp-for="Length" class="form-label">Length</label>
				<input asp-for="Length" asp-for="Length" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Width" class="form-label">Width</label>
				<input asp-for="Width" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Thickness" class="form-label">Thickness</label>
				<input asp-for="Thickness" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Sim" class="form-label">SIM</label>
				<input asp-for="Sim" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Iprating" class="form-label">IPRating</label>
				<input asp-for="Iprating" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="DisplaySize" class="form-label">Dsize</label>
				<input asp-for="DisplaySize" class="form-control" />
			</div>
			<label asp-for="Matrix" class="form-label">Brand</label>
			<select asp-for="Matrix" class="form-select col-12">
				<option selected>Choose Matrix</option>
				@foreach (DisplayMatrix matrix in ViewData["DisplayMatrices"] as List<DisplayMatrix>)
				{
					<option value="@matrix.Id">@matrix.MatrixType</option>
				}
			</select>
			<div class="col-12">
				<label asp-for="RefreshRate" class="form-label">RefreshRate</label>
				<input asp-for="RefreshRate" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Brightness" class="form-label">Brightness</label>
				<input asp-for="Brightness" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Resolution" class="form-label">Resolution</label>
				<input asp-for="Resolution" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="ScreenProtection" class="form-label">ScrProtection</label>
				<input asp-for="ScreenProtection" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Chipset" class="form-label">Chipset</label>
				<input asp-for="Chipset" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Cpu" class="form-label">CPU</label>
				<input asp-for="Cpu" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Gpu" class="form-label">GPU</label>
				<input asp-for="Gpu" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Ram" class="form-label">RAM</label>
				<input asp-for="Ram" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="InternalStorage" class="form-label">InternalStorage</label>
				<input asp-for="InternalStorage" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="ExpStorageLimit" class="form-label">ExpStorageLimit</label>
				<input asp-for="ExpStorageLimit" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Usbtype" class="form-label">USBType</label>
				<input asp-for="Usbtype" class="form-control" />
			</div>
			<div>
				<label asp-for="FingerPrint" class="form-label">Fingerprint Reader</label>
			</div>
			<div class="btn-group col-12" role="group">
				<input asp-for="FingerPrint" type="radio" class="btn-check" name="btnradiofp" id="btnradiofpf" autocomplete="off" value="false" checked>
				<label asp-for="FingerPrint" class="btn btn-outline-primary" for="btnradiofpf">No</label>

				<input asp-for="FingerPrint" type="radio" class="btn-check" name="btnradiofp" id="btnradiofpt" autocomplete="off" value="true">
				<label asp-for="FingerPrint" class="btn btn-outline-primary" for="btnradiofpt">Yes</label>
			</div>
			
			<div>
				<label asp-for="FaceRec" class="form-label">Facial Recognition</label>
			</div>
			<div class="btn-group col-12" role="group">
				<input asp-for="FaceRec" type="radio" class="btn-check" name="btnradiofr" id="btnradiofrf" autocomplete="off" value="false" checked>
				<label asp-for="FaceRec" class="btn btn-outline-primary" for="btnradiofrf">No</label>

				<input asp-for="FaceRec" type="radio" class="btn-check" name="btnradiofr" id="btnradiofrt" autocomplete="off" value="true">
				<label asp-for="FaceRec" class="btn btn-outline-primary" for="btnradiofrt">Yes</label>
			</div>
			<div class="col-12">
				<label asp-for="BatCapacity" class="form-label">BatCapacity</label>
				<input asp-for="BatCapacity" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="BatChargingWattage" class="form-label">BatChargingWattage</label>
				<input asp-for="BatChargingWattage" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="MainCamPhoto" class="form-label">MCMP</label>
				<input asp-for="MainCamPhoto" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="MainCamVideo" class="form-label">MCVideo</label>
				<input asp-for="MainCamVideo" class="form-control" />
			</div>
			<div class="list-group col-12">
				<label>Camera Features</label>
				@foreach (CameraFeature feature in ViewData["CameraFeatures"] as List<CameraFeature>)
				{
					<label class="list-group-item">
						<input class="form-check-input me-1" type="checkbox" name="selectedCameraFeatureIds" value="@feature.Id">
						@feature.Name
					</label>
				}
			</div>
			<div class="col-12">
				<label asp-for="SelfCamPhoto" class="form-label">SCMP</label>
				<input asp-for="SelfCamPhoto" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="SselfCamVideo" class="form-label">SCVideo</label>
				<input asp-for="SselfCamVideo" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Os" class="form-label">OS</label>
				<input asp-for="Os" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="WiFiSpeed" class="form-label">WiFiSpeed</label>
				<input asp-for="WiFiSpeed" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="BluetoothVersion" class="form-label">BluetoothVersion</label>
				<input asp-for="BluetoothVersion" class="form-control" />
			</div>
			<div class="list-group col-12">
				<label>Features</label>
				@foreach (var feature in ViewData["PhoneFeatures"] as List<Feature>)
				{
					<label class="list-group-item">
						<input class="form-check-input me-1" type="checkbox" name="selectedPhoneFeatureIds" value="@feature.Id" />
					@feature.Name
					</label>
				}
			</div>
			<div class="col-12">
				<label asp-for="Price" class="form-label">Price</label>
				<input asp-for="Price" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="PurchaseLink" class="form-label">Link to store</label>
				<input asp-for="PurchaseLink" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="ImgLink" class="form-label">Link to phone Image</label>
				<input asp-for="ImgLink" class="form-control" />
			</div>
		</div>
		<div class="mt-2">
			<div class="col-md-5">
				<input type="submit" class="btn btn-primary" value="Sumbit" />
			</div>
		</div>
	</div>
</form>
