@{
    var AdamColor = "background:linear-gradient(128.87deg,#e666cc 14.05%,#fa97a1 89.3%); -webkit-background-clip: text; color: transparent;";
    var EdisColor = "background:linear-gradient(128.87deg,#53ceda 14.05%,#9780e5 89.3%); -webkit-background-clip: text; color: transparent;";
    var To6oColor = "background:linear-gradient(128.87deg,#9780e5 14.05%,#e666cc 89.3%); -webkit-background-clip: text; color: transparent;";
}


<body style="background-color:#1f1f1f">
    <div class="fw-bold h1 pt-5 text-center" style="@AdamColor">
        Who are we?
    </div>
    <div class="h4 mx-5 text-center">
        We're students from the Technical University of Varna, third year, chill guys, who share a passion for perpetually improving our terrible code.
    </div>
    <div class="container text-center pt-5">
        <div class="row align-items-start">
            <div class="col">
                <p class="fw-bold h1 pb-5" style="@AdamColor">Adam</p>
                <img class="img-thumbnail rounded-circle w-50 h-50" src="~/img/Adam.jpg" />
                <p class=" mt-xxl-5 mt-xxl-5 text-start">
                    <span class="fw-bold h4" style="@AdamColor">Bio  </span>Entered the IT world thanks to his father, who gave him a book about Visual Basic from '97
                </p>
                <p class=" mt-xxl-5 mt-xxl-5 text-start">
                    <span class="fw-bold h4 align-content-center" style="@AdamColor">Fun facts  </span>
                    <ul class="text-start">
                        <li>
                            Writes C/C++ for relaxation
                        </li>
                        <li>
                            Daily drives Arch
                        </li>
                    </ul>
                </p>
                <p>
                    <span class="fw-bold h4" style="@AdamColor"> Contact links</span>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-outline-light btn-floating m-1 w-50" href="https://github.com/AdamAyash" role="button">
                                <i class="bi bi-github"></i> Github
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-outline-light btn-floating m-1 w-50" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" role="button">
                                <i class="bi bi-linkedin"></i> LinkedIn
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-outline-light btn-floating m-1 w-50" href="https://www.instagram.com/addam.ayash/" role="button">
                                <i class="bi bi-instagram"></i> Instagram
                            </a>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col">
                <p class="fw-bold h1 pb-5" style="@EdisColor">Edis</p>
                <img class="img-thumbnail rounded-circle w-50 h-50" src="~/img/Edis.jpg" />
                <p class=" mt-xxl-5 mt-xxl-5 text-start">
                    <span class="fw-bold h4" style="@EdisColor">Bio  </span>Played Age of Empires II on his brother's laptop while in kindergarten so gaming was his gateway drug to IT & programming
                </p>
                <p class=" mt-xxl-5 mt-xxl-5 text-start">
                    <span class="fw-bold h4" style="@EdisColor">Fun facts  </span>
                    <ul class="text-start">
                        <li>
                            Prefers .NET over Java
                        </li>
                        <li>
                            Doesn't have time for anything
                        </li>
                    </ul>
                </p>
                <p>
                    <span class="fw-bold h4" style="@EdisColor"> Contact links</span>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-outline-light btn-floating m-1 w-50" href="https://github.com/Krylemar/" role="button">
                                <i class="bi bi-github"></i> Github
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-outline-light btn-floating m-1 w-50" href="https://www.linkedin.com/in/esyuleym/" role="button">
                                <i class="bi bi-linkedin"></i> LinkedIn
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-outline-light btn-floating m-1 w-50" href="https://www.instagram.com/esyuleym/" role="button">
                                <i class="bi bi-instagram"></i> Instagram
                            </a>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col">
                <p class="fw-bold h1 pb-5" style="@To6oColor">Todor</p>
                <img class="img-thumbnail rounded-circle w-50 h-50" src="~/img/Todor.jpg" />
                <p class=" mt-xxl-5 mt-xxl-5 text-start">
                    <span class="fw-bold h4" style="@To6oColor">Bio  </span> As little, was very interested in doing computer pranks and breaking stuff, so he decided to learn how to fix them
                </p>
                <p class=" mt-xxl-5 mt-xxl-5 text-start">
                    <span class="fw-bold h4" style="@To6oColor">Fun facts  </span>
                    <ul class="text-start">
                        <li>
                            Hosts his own Minecraft server on a Raspberry Pi
                        </li>
                        <li>
                            Raging on online games is his passion
                        </li>
                    </ul>
                </p>
                <p>
                    <span class="fw-bold h4" style="@To6oColor"> Contact links</span>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-outline-light btn-floating m-1 w-50" href="https://github.com/todor02" role="button">
                                <i class="bi bi-github"></i> Github
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-outline-light btn-floating m-1 w-50" href="https://www.linkedin.com/in/todor-pavlenkov-75343b254/" role="button">
                                <i class="bi bi-linkedin"></i> LinkedIn
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-outline-light btn-floating m-1 w-50" href="https://www.instagram.com/t.pavlenkovx/" role="button">
                                <i class="bi bi-instagram"></i> Instagram
                            </a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</body>
